{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Site{% endblock %}

{% block body %}
    <h1>Modifier Site</h1>

    {{ include('site/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_site_index') }}">retour à la liste</a>
{% endblock %}
