<h1>Salut !</h1>

<p>
    L'ENI vient de vous ajouter sur son site d'organisation des sorties entre membres de l'ENI.

    Afin de pouvoir profiter du site, veuillez cliquer sur le lien suivant pour compléter les informations de votre compte : <br><br>
    <a href="{{ signedUrl|raw }}">Accéder au formulaire</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bonnes sorties !
</p>
