{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Ajouter un membre{% endblock %}

{% block body %}
    <h1>Lien expiré</h1>

    <p>Le lien a expiré. Veuillez contacté un administrateur pour qu'il puisse vous renvoyé un lien valable.</p>
    <p>Contact : admin-inscription@sortirdotcom.com</p>
{% endblock %}
