{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Ville{% endblock %}

{% block body %}
    <h1>Modifier Ville</h1>

    {{ include('ville/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{path('app_ville_index')}}">Retour à la liste</a>
{% endblock %}
