{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur</h1>

    <p>
        Vérifier l'url ou bien retourner à la <a href="{{ path('app_accueil') }}">page d'accueil</a>
    </p>
{% endblock %}