{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée</h1>

    <p>
        La page demandée n'existe pas.
    </p>

    <p>
        Vérifier l'url ou bien retourner à la <a href="{{ path('app_accueil') }}">page d'accueil</a>
    </p>
{% endblock %}